[submodule "workflows/loki"]
	path = workflows/loki
	url = https://github.com/mskcc/loki
[submodule "workflows/arrakis"]
	path = workflows/arrakis
	url = https://github.com/mskcc/arrakis
[submodule "workflows/sif"]
	path = workflows/sif
	url = git@github.com:mskcc/sif.git
